<!DOCTYPE html>
<html lang="en">
  <head>
    <title>base36 converter {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>

  <body>
    <div class="container">
      <h1>base36 converter</h1>
      {% block containercontent %}{% endblock %}
      <hr>
      <div class="footer">
        <p class="text-muted"><small>base36 converter by <a href="https://twitter.com/jaakkosf">@jaakkosf</a>.</p>
      </div>
    </div>  
  </body>
</html>