{% extends "base.html" %}
{% block containercontent %}
  <p class="lead">Welcome to a simple base36/base10 converter.</p>
  <div class="hero-unit">
    <p>Either enter a list of base10 values, to convert to base36, or vice-versa. Each should be on it's own line in the input.</p>
  </div>
  <form role="form" method="POST" action"/">
    <div class="form-group">
      <label for="source_values">Convert these numbers:</label>
      <textarea class="form-control" rows="10" name="source_values" id="source_values"></textarea>
    </div>
    <div class="radio">
      <label><input type="radio" name="source_type" id="source_type" value="base10" checked="checked"> From <code>base10</code> to <code>base36</code></label>
    </div>
    <div class="radio">
      <label><input type="radio" name="source_type" id="source_type" value="base36"> From <code>base36</code> to <code>base10</code></label>
    </div>
    <p><button type="submit" class="btn btn-default">Convert</button></p>
  </form>
{% endblock %}